<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1> This is the index page!
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda error nihil aperiam labore consectetur, id
        consequatur veniam repellat quidem unde nesciunt non, necessitatibus quod rerum neque, officia recusandae
        obcaecati vero!
        Consequuntur, saepe aspernatur. Magnam nesciunt veniam vero sapiente distinctio iste dolor earum voluptate ab
        corporis quia recusandae accusantium velit necessitatibus doloremque obcaecati consequuntur ex, illo maxime.
        Nesciunt sed ipsam voluptas!
        Optio similique impedit reprehenderit voluptate aliquam facere rem consequuntur id enim saepe qui eius, sit eos,
        nihil minima animi? Recusandae optio fugiat commodi minima reprehenderit eaque repellendus corporis vitae
        aliquid?
        Esse inventore quibusdam dolorem aut necessitatibus maiores quo adipisci! Ducimus nesciunt, iusto facilis at
        optio libero officiis, beatae, ut nobis non odio perferendis fugit ad quas praesentium maiores esse? Delectus!
        Autem iure explicabo nulla cupiditate. Vel fuga explicabo maiores quae ea accusantium earum consequuntur a quas,
        voluptas odit facere nostrum repellat alias deserunt. Odit voluptate nostrum labore totam adipisci aperiam?
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At magnam quam culpa necessitatibus laudantium nemo
        fugit ipsum temporibus, numquam adipisci sequi minima libero quidem consectetur ipsa dolorem laboriosam
        asperiores cum?Impedit similique expedita at cumque suscipit accusamus sint, dolores nisi ducimus dignissimos
        culpa numquam sapiente rerum omnis praesentium nobis tenetur laboriosam molestias magni odit. Minima incidunt
        dolorum commodi aliquam ea.</p>
</body>

</html>